body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex; 
  align-items : center ; 
  justify-content : center ; 
}

.Title{
  padding-top: 2rem;
  font-size : 2.5rem; 
  font-weight: bold ;
  text-align : center ; 
  color : #68BBE3;  /* rgb(255, 95, 95) ;  */
  padding-bottom: 1rem ;
}

.SudokuTable{
  display : flex ; 
  flex-direction: column;
}

.SudokuRow{
  display: inline-flex ; 
}

.SudokuCell{
  height : 3.5rem ; 
  width: 3.5rem ;
  font-size : 1.6rem ;
  font-weight : bold ;
  align-items: center;
  justify-content: center;
  /* color : #68BBE3; for dark mode */
  color : rgb(213, 245, 255);  
  /* background-color: rgb(57, 57, 53);  for dark mode*/
  background-color: #68BBE3;
  border-color :#055C9D ;
}

.SudokuCell:nth-child(3n){
  border-right-width: 0.3rem;
  border-right-color: rgb(95, 144, 240);
}

.SudokuRow:nth-child(3n-1) > .SudokuCell:nth-child(n){ 
  border-top-width: 0.4rem;
  border-top-color: rgb(95, 144, 240);
}

.SudokuCell:hover { 
  background-color: #68BBE3 !important;
  color:#055C9D !important ; 
}