body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex; 
  align-items : center ; 
  justify-content : center ; 
}

.Title{
  padding-top: 2rem;
  font-size : 2.5rem; 
  font-weight: bold ;
  text-align : center ; 
  color : #68BBE3;  /* rgb(255, 95, 95) ;  */
  padding-bottom: 1rem ;
}

.SudokuTable{
  display : flex ; 
  flex-direction: column;
}

.SudokuRow{
  display: inline-flex ; 
}

.SudokuCell{
  height : 3.5rem ; 
  width: 3.5rem ;
  font-size : 1.6rem ;
  font-weight : bold ;
  align-items: center;
  justify-content: center;
  /* color : #68BBE3; for dark mode */
  color : rgb(255, 245, 251);  
  /* background-color: rgb(57, 57, 53);  for dark mode*/
  background-color: #68BBE3;
  border : solid #1e4a6b 0.02rem;
}

.SudokuCell:nth-child(3n){
  border-right-width: 0.25rem;
  border-right-color: rgb(48, 100, 177);
}

.SudokuRow:nth-child(3n-1) > .SudokuCell:nth-child(n){ 
  border-top-width: 0.25rem;
  border-top-color:  rgb(42, 65, 110);
}

.SudokuCell:hover { 
  background-color: #68BBE3 !important;
  color:#055C9D !important ; 
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .SudokuCell{
    width: 2.5rem ;
    height: 2.5rem ;
  }

  .SudokuCell:nth-child(3n){
    border-right-width: 0.2rem;
    border-right-color: rgb(48, 100, 177);
  }
  
  .SudokuRow:nth-child(3n-1) > .SudokuCell:nth-child(n){ 
    border-top-width: 0.25rem;
    border-top-color: rgb(42, 65, 110);
  }

  
}

@media screen and (orientation:landscape)
and (min-height: 100px) 
and (max-height: 400px) {
    body{
      margin-left : 3rem;
      justify-content: left;
    }

    .Title{
      font-size : 1.8rem;
      padding-top : 1.5rem;
      padding-bottom: 0.7rem;
    }

    .SudokuCell{
      width: 1.5rem ;
      height: 1.5rem ;
      font-size: 1rem;
    }
  
    .SudokuCell:nth-child(3n){
      border-right-width: 0.2rem;
      border-right-color: rgb(48, 100, 177);
    }
    
    .SudokuRow:nth-child(3n-1) > .SudokuCell:nth-child(n){ 
      border-top-width: 0.2rem;
      border-top-color: rgb(42, 65, 110);
    }
  
}